<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Tasks</title>
    <style>
        table th, table td {
            padding: 5px;
        }
    </style>
    <div th:replace="fragments/header :: header-css"/>
</head>
<body>
<div th:replace="fragments/header :: header"/>
<div class="container mt-2">
    <table border="1">
        <tr>
            <th>Id</th>
            <th>Task</th>
            <th>Elapsed time</th>
        </tr>
        <tr th:each="task : ${task}">
            <td th:utext="${task.task_id}">...</td>
            <td th:utext="${task.title}">...</td>
            <td th:utext="${task.time}">...</td>
        </tr>
    </table>
</div>
<div th:replace="fragments/footer :: footer"/>
</body>
</html>